@font-face {
    font-family: "ProximaNova Regular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff")      format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf")       format("truetype");
    font-style: normal;
    font-weight:normal;
}
@font-face {
    font-family: "ProximaNova Semibold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff")      format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf")       format("truetype");
    font-style: normal;
    font-weight:normal;
}
@font-face {
    font-family: "ProximaNova Bold";
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff")      format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf")       format("truetype");
    font-style: normal;
    font-weight:normal;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp {border:0; margin:0; padding:0;}
html,body {height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
img {font-size:0; vertical-align:middle; -ms-interpolation-mode:bicubic;}
li {display:inline-block; list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
th,td,caption {font-weight:normal; vertical-align:top; text-align:left;}
svg {overflow:hidden}
a {}
a[href^=tel] {color:inherit; text-decoration:none;}
a:link,
a:hover,
a:visited {/*color: #fff;*/ text-decoration: none;}

@-webkit-keyframes scaleOut {
    0%   {transform: scale(1.1,1.1);}
    100% {transform: scale(1,1);}
}
@keyframes scaleOut {
    0%   {transform: scale(1.1,1.1);}
    100% {transform: scale(1,1);}
}

@-webkit-keyframes fadeIn {
    0%   {visibility: hidden;  opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@keyframes fadeIn {
    0%   {visibility: hidden;  opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@-webkit-keyframes fadeIn1s {
    0%   {visibility: hidden;  opacity: 0;}
    50%  {visibility: hidden;  opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@keyframes fadeIn1s {
    0%   {visibility: hidden;  opacity: 0;}
    50%  {visibility: hidden;  opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@-webkit-keyframes fadeInTop {
    0%   {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    10%  {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    100% {visibility: visible; opacity: 1; margin: 0;}
}
@keyframes fadeInTop {
    0%   {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    10%  {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    100% {visibility: visible; opacity: 1; margin: 0;}
}
@-webkit-keyframes fadeInTop1s {
    0%   {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    50%  {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    100% {visibility: visible; opacity: 1; margin: 0;}
}
@keyframes fadeInTop1s {
    0%   {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    50%  {visibility: hidden;  opacity: 0; margin: -20px 0 20px;}
    100% {visibility: visible; opacity: 1; margin: 0;}
}

@-webkit-keyframes jumping {
    0%   {top: 24px;}
    50%  {top: 28px;}
    100% {top: 24px;}
}
@keyframes jumping {
    0%   {top: 24px;}
    50%  {top: 28px;}
    100% {top: 24px;}
}

@-webkit-keyframes jumping-small {
    0%   {top: 18px;}
    50%  {top: 22px;}
    100% {top: 18px;}
}
@keyframes jumping-small {
    0%   {top: 18px;}
    50%  {top: 22px;}
    100% {top: 18px;}
}

* {-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;
    -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000;
    -webkit-transform: translate3d(0,0,0);}

body {font-family: "ProximaNova Regular", sans-serif;}
h2 {padding:10px 0; font-size: 48px; color: #06090b; text-align: left;}
h3 {padding: 5px 0; font-size: 20px; color: #ff002a; text-align: left; text-transform: uppercase;}
h4 {padding: 15px 0 10px; font-size: 35px; color: #06090b; text-align: left;}
.fui-description {padding: 15px 0; line-height: 32px; font-size: 20px; color: #06090b;}

#fp-nav {position: absolute; top: 0; right: 25px; bottom: 0; display: table; margin: auto 0!important; height: 100%; z-index: 100;}
#fp-nav ul {display: table-cell; vertical-align: middle;}
#fp-nav ul>li {display: block; margin: 13px 0;}
#fp-nav ul>li a {display: block; height: 10px; width: 10px; background: #fff; border-radius: 50%; opacity: .3; -webkit-transition: .6s ease opacity; transition: .6s ease opacity;}
#fp-nav ul>li a.active {opacity: 1;}

.fui-button {position: relative; display: inline-block; background: transparent; min-width: 190px; padding: 0 15px; height: 54px; line-height: 54px; /*font-family: "ProximaNova Semibold";*/ font-size: 20px; font-weight: 300; text-align: center; color: #000; box-sizing: border-box; border: 2px solid #1ed775; border-radius: 27px; cursor: pointer; white-space: nowrap; -webkit-appearance: none; appearance: none; -webkit-user-select: none; user-select: none;}
.fui-button.progress {opacity: 0.5; pointer-events: none;}
.fui-table {display: table; width: 100%; height: 100%; position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0;}
.fui-table .table-cell {display: table-cell; vertical-align: middle; padding: 80px 10px 60px; overflow: hidden;}
.fui-table .table-cell .cell {max-width: 980px; margin: 0 auto;}

.module-Header {position: absolute; top: 0; left: 0; right: 0; display: inline-block; padding: 35px 0 0; width: 100%; min-height: 90px; z-index: 100; pointer-events: none;}
.module-Header--logo {float: left; margin: 20px 0 0 40px; pointer-events: auto;}
.module-Header--logo::before {display: inline-block; content: ""; width: 150px; height: 20px; background: url('../sprites/Header-logo-black.png') center/100%;}
.module-Header--aside {display: none; float: right; margin: 0 13px 0 0; text-align: right; pointer-events: auto;}
.module-Header .fui-button {float: right; margin: 5px 35px 0 0; pointer-events: auto;}

.page-Section {position: relative; background: #000;}
.page-Section .scale {position: absolute; top: 22px; bottom: 22px; right: 72px; left: 72px; z-index: 3; /*opacity: 0; -webkit-transition: .6s ease all, .3s ease -webkit-transform; transition: .6s ease all, .3s ease transform; -webkit-transform: scale(.9,.9); transform: scale(.9,.9);*/}
.page-Section .scale.no-scale {/*opacity: 1; -webkit-transform: scale(1,1); transform: scale(1,1); -webkit-transition: 0s ease -webkit-transform; transition: 0s ease transform;*/}
.page-Section .section {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.page-Section.active .scale {/*opacity: 1; -webkit-transform: scale(1,1); transform: scale(1,1);*/}

.page-Section.active .Section-Learn--content .fui-button {-webkit-animation: 3s ease fadeInTop1s 1; animation: 3s ease fadeInTop1s 1;}
.Section-Learn {background-color: #13263b; text-align: center;}
.Section-Learn::before {content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: center no-repeat; background-size: cover; -webkit-animation: 2s ease scaleOut 1; animation: 2s ease scaleOut 1;}
.Section-Learn .module-Header {-webkit-animation: 1.6s ease fadeIn 1; animation: 1.6s ease fadeIn 1;}
.Section-Learn .module-Header--logo::before {background-image: url('../sprites/Header-logo.png');}
.Section-Learn .module-Header .fui-button {color: #fff;}
.Section-Learn--content h1 {line-height: 72px; font-size: 60px; font-weight: 700; /*font-family: "ProximaNova Semibold";*/ color: #f9f9f9; -webkit-animation: 1.2s ease fadeInTop 1; animation: 1.2s ease fadeInTop 1;}
.Section-Learn--content .description {padding: 5px 0 25px; font-size: 36px; color: #1ed775; -webkit-animation: 1.6s ease fadeIn1s 1; animation: 1.6s ease fadeIn1s 1;}
.Section-Learn--content .fui-button {padding-right: 30px; border-color: rgba(255,255,255,.10); color: #fff;}
.Section-Learn--content .fui-button::before {content: ""; position: absolute; top: 26px; right: 30px; width: 10px; height: 2px; background: #fff; -webkit-transform: rotateZ(45deg);  transform: rotateZ(45deg);  -webkit-animation: 1s linear infinite jumping; animation: 1s linear infinite jumping;}
.Section-Learn--content .fui-button::after  {content: ""; position: absolute; top: 26px; right: 24px; width: 10px; height: 2px; background: #fff; -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); -webkit-animation: 1s linear infinite jumping; animation: 1s linear infinite jumping;}
.Section-Learn--footer {position: absolute; right: 0; bottom: 50px; left: 0; margin: 0 auto; opacity: .23;}
.Section-Learn--footer .footer {display: inline-block; padding: 0 30px 0 0; font-size: 20px; color: #e5f7f7; vertical-align: middle;}
.Section-Learn--footer::after {display: inline-block; content: ""; width: 400px; height: 50px; background: url('../sprites/Section-Learn--footer.png') center/100%; vertical-align: middle;}

.Section-Norisk .scale {background-color: #e2e4e1;}
.Section-Norisk  .section {background: top center no-repeat; background-size: cover; text-align: center;}
.Section-Norisk  .section ul {padding: 0 0 20px; font-size: 18px; color: #000; text-transform: uppercase; letter-spacing: 1.5px;}
.Section-Norisk  .section ul>li {margin: 0 30px; height: 32px; line-height: 32px; border-bottom: 2px solid transparent; opacity:.60; -webkit-transition: .6s ease opacity; transition: .6s ease opacity;}
.Section-Norisk  .section ul>li.active {border-color: #ff002a; opacity:1;}
.Section-Norisk  .section h2 {text-align: center;}
.Section-Norisk  .section .fui-description {padding: 20px 0 0;}

.Section-Clarify .scale {background-color: #f9f9f9;}
.Section-Clarify .section {background: top center no-repeat; background-size: cover;}
.Section-Clarify .section .fui-description {max-width: 460px;}

.Section-Trust .scale {background-color: #f9f9f9;}
.Section-Trust   .section {background: top center no-repeat; background-size: cover;}
.Section-Trust   .section ul {padding: 15px 0 0;}
.Section-Trust   .section ul>li {display: inline-block;}
.Section-Trust   .section ul>li.brand-grey::before    {content: ""; display: inline-block; width: 260px; height: 150px; background: url('../sprites/Section-Trust--brand-grey.png')      center/100%; margin: 0 17px 0 -17px;}
.Section-Trust   .section ul>li.brand-wwf::before     {content: ""; display: inline-block; width: 150px; height: 150px; background: url('../sprites/Section-Trust--brand-wwf.png')      center/100%;}
.Section-Trust   .section ul>li.brand-zendesk::before {content: ""; display: inline-block; width: 400px; height: 150px; background: url('../sprites/Section-Trust--brand-zendesk.png') center/100%; margin: 0 0 0 15px;}
.Section-Trust   .section ul>li.brand-storia::before  {content: ""; display: inline-block; width: 150px; height: 150px; background: url('../sprites/Section-Trust--brand-storia.png') center/100%; margin: 0 -40px 0 12px;}
.Section-Trust   .section .fui-description {max-width: 960px;}

.Section-Logic .scale {background-color: #f7efed;}
.Section-Logic   .section {background: top center no-repeat; background-size: cover;}
.Section-Logic   .section ul {display: inline-block; padding: 30px 0 0; width: 100%;}
.Section-Logic   .section ul>li {display: inline-block; float: left; padding: 0 5% 0 0; width: 25%; line-height: 32px; font-size: 20px; color: #06090b; box-sizing: border-box; vertical-align: top;}
.Section-Logic   .section ul>li::before {content: ""; display: block; margin: 0 0 10px; width: 40px; height: 40px; background: url('../sprites/Section-Logic--list.png') center/100%;}

.Section-Apps .scale {background-color: #f9f9f9;}
.Section-Apps    .section {background: top center no-repeat; background-size: cover;}
.Section-Apps    .section .icons::before {content: ""; display: block; margin: 0 -5px 10px; width: 340px; height: 120px; background: url('../sprites/Section-Apps--devices.png') center/100%;}

.Section-Storia .scale {background-color: #202010;}
.Section-Storia  .section {background: top center no-repeat; background-size: cover;}
.Section-Storia  .section::before {content: ""; position: absolute; right: 0; bottom: 0;}
.Section-Storia  .section .module-Header--logo::before {background-image: url('../sprites/Header-logo.png');}
.Section-Storia  .section .module-Header .fui-button {color: #fff;}
.Section-Storia  .section h2 {color: #fff;}
.Section-Storia  .section h3 {max-width: 300px;}
.Section-Storia  .section .fui-description {max-width: 420px; color: #fff;}
.Section-Storia  .section .cell .fui-button {padding-right: 30px; border-color: rgba(255,255,255,.10); font-weight: 400; color: #fff; min-width: 160px; height: 40px; line-height: 37px; font-size: 18px; border-radius: 20px;}
.Section-Storia  .section .cell .fui-button::before {content: ""; position: absolute; top: 15px; right: 18px; width: 5px; height: 5px; border-top: 2px solid #fff; border-right: 2px solid #fff;}
.Section-Storia  .section .cell .fui-button::after  {content: ""; position: absolute; top: 18px; right: 17px; width:10px; height: 2px; background: #fff; -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg);}

.Section-Team .scale {background-color: #f9f9f9;}
.Section-Team    .section {background: top center no-repeat; background-size: cover;}
.Section-Team    .section ul {display: inline-block; padding: 15px 0 0; max-width: 104px; white-space: nowrap;}
.Section-Team    .section ul>li {position: relative; display: inline-block; margin: 16px -17px 0 0;}
.Section-Team    .section ul>li:nth-child(1) {z-index:15;}
.Section-Team    .section ul>li:nth-child(2) {z-index:14;}
.Section-Team    .section ul>li:nth-child(3) {z-index:13;}
.Section-Team    .section ul>li:nth-child(4) {z-index:12;}
.Section-Team    .section ul>li:nth-child(5) {z-index:11;}
.Section-Team    .section ul>li:nth-child(6) {z-index:10;}
.Section-Team    .section ul>li:nth-child(7) {z-index: 9;}
.Section-Team    .section ul>li:nth-child(8) {z-index: 8;}
.Section-Team    .section ul>li:nth-child(9) {z-index: 7;}
.Section-Team    .section ul>li:nth-child(10){z-index: 6;}
.Section-Team    .section ul>li:nth-child(11){z-index: 5;}
.Section-Team    .section ul>li:nth-child(12){z-index: 4;}
.Section-Team    .section ul>li:nth-child(13){z-index: 3;}
.Section-Team    .section ul>li:nth-child(14){z-index: 2;}
.Section-Team    .section ul>li:nth-child(15){z-index: 1;}
.Section-Team    .section ul>li:first-child img {width: 104px; height: 104px;}
.Section-Team    .section ul>li img {width: 70px; height: 70px; border-radius: 50%;}
.Section-Team    .section .fui-description {padding: 10px 0 0; max-width: 540px; line-height: 24px; font-size: 18px;}
.Section-Team    .section .link {display: block; padding: 20px 0 0;}
.Section-Team    .section .link::before {content: ""; display: inline-block; width: 28px; height: 28px; background: url('../sprites/Section-Team--linkedin.png') center/100%;}

.Section-World {background-color: #efefef; pointer-events: none;}
.Section-World .map-container {position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;}
.Section-World .map-container::before {content: ""; position: absolute; top: 0; right: 0; left: 0; height: 50%; pointer-events: auto; z-index: 2;}
.Section-World .map-container .map {position: absolute!important; right: 0; top: -30px; bottom: -30px; left: -70px; z-index: 1; pointer-events: auto;}
.Section-World .map-container .map,
.Section-World .map-container .map * {-webkit-transform: none!important;}
.Section-World .map-container .border-tl {position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2;}
.Section-World .map-container .border-tl::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 22px; background: #000; z-index: 2;}
.Section-World .map-container .border-tl::after  {content: ""; position: absolute; top: 0; left: 0; width: 72px; height: 100%; background: #000; z-index: 2;}
.Section-World .map-container .border-br {position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2;}
.Section-World .map-container .border-br::before {content: ""; position: absolute; bottom: 0; right: 0; width: 100%; height: 22px; background: #000; z-index: 2;}
.Section-World .map-container .border-br::after  {content: ""; position: absolute; bottom: 0; right: 0; width: 72px; height: 100%; background: #000; z-index: 2;}
.Section-World .section {z-index: 3;}
.Section-World .section .container {padding: 50px; background: #fff; pointer-events: auto;}
.Section-World .section ul {padding: 20px 0;}
.Section-World .section ul>li {display: inline-block; padding: 0 25px 0 0;}
.Section-World .section ul>li a {display: inline-block; padding: 0 20px 15px 0; font-size: 18px; border-bottom: 2px solid transparent; color: #000;}
.Section-World .section ul>li a.active {border-color: #ff002a;}
.Section-World .section ul>li a b {display: block; font-size: 20px;}

.Section-Touch {background: top center no-repeat; background-size: cover; background-color: #021129;}
.Section-Touch>.module-Header {display: none;}
.Section-Touch .module-Header--logo::before {background-image: url('../sprites/Header-logo.png');}
.Section-Touch .module-Header--aside .email {display: block; padding: 9px 0 0; color: #1bc06b;}
.Section-Touch .module-Header--aside .phone {display: block; padding: 9px 0 0; color: #fff;}
.Section-Touch .container {min-height: 560px;}
.Section-Touch .form {display: inline-block; vertical-align: top; width: 50%;}
.Section-Touch .form h2 {color: #fff;}
.Section-Touch .form ul {padding: 10px 0 25px; text-align: left; letter-spacing: 1.5px;}
.Section-Touch .form ul>li {display: inline-block; padding: 0 25px 0 0;}
.Section-Touch .form ul>li a {display: inline-block; padding: 0 0 2px 0; font-size: 18px; border-bottom: 2px solid transparent; color: #fff; text-transform: uppercase; opacity: .30;}
.Section-Touch .form ul>li a.active {border-color: #ff002a; opacity: 1;}
.Section-Touch .form form {width: 375px;}
.Section-Touch .form form .input {margin: 0 0 20px; padding:0 15px; width: 100%; height: 40px; background: rgba(255,255,255,.10); font-size: 18px; border: 2px solid rgba(255,255,255,0); border-radius: 5px; color: #fff; -webkit-transition: .3s ease background; transition: .3s ease background; box-sizing: border-box;}
.Section-Touch .form form .input.active,
.Section-Touch .form form .input:focus {background: #fff; color: #333; outline: none; border-color #fff;}
.Section-Touch .form form .input.error {border-color: #ff002a;}
.Section-Touch .form form .textarea {margin:0 0 20px; padding: 15px; width: 100%; height:135px; background: rgba(255,255,255,.10); font-size: 18px; border: 2px solid rgba(255,255,255,0); border-radius: 5px; color: #fff; -webkit-transition: .3s ease background; transition: .3s ease background; box-sizing: border-box; resize: none; font-family: "ProximaNova Regular", sans-serif;}
.Section-Touch .form form .textarea.active,
.Section-Touch .form form .textarea:focus {background: #fff; color: #333; outline: none; border-color #fff;}
.Section-Touch .form form .textarea.error {border-color: #ff002a;}
.Section-Touch .form form .submit {color: #fff;}
.Section-Touch .form form.second .submit {float: right; z-index: 1;}
.Section-Touch .form form .description {position: relative; line-height: 56px; font-size: 18px; color: #fff; opacity: .50;}
.Section-Touch .form form .description .attachment {display: inline-block; margin: 0 0 0 15px; width: 20px; height: 20px; background: url('../sprites/Section-Touch--attach.png') center/100%; vertical-align: middle;}
.Section-Touch .form form .description.set .attachment {display: none;}
.Section-Touch .form form .description.set .file-name {display: block; width: 185px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.Section-Touch .form form .description .file {position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; cursor: pointer;}
.Section-Touch .form form .info-success {color: #fff;}
.Section-Touch .form form .info-error {color: #ff002a; margin-top: 20px; }
.Section-Touch .address {display: inline-block; vertical-align: top; padding: 145px 0 0 20px;}
.Section-Touch .address ul>li {display: block; padding: 0 0 25px 0; font-size: 18px; color: #fff;}
.Section-Touch .address ul>li b {display: block; padding: 0 0 5px; font-weight: 400;}
.Section-Touch .footer {padding: 50px 0 0; border-top: 1px solid rgba(255,255,255,.10);}
.Section-Touch .footer .text {font-size: 18px; color: #fff; opacity: .44;}
.Section-Touch .footer .module-Header--logo {float: none; display: block; margin: 0 0 10px;}
.Section-Touch .footer ul {float: right; margin: -10px 0 0;}
.Section-Touch .footer ul>li {display: inline-block; padding: 0 10px 0 0;}
.Section-Touch .footer ul>li a {display: block;}
.Section-Touch .footer ul>li a::before {content: ""; display: inline-block; width: 30px; height: 30px; background: center/100%;}
.Section-Touch .footer ul>li a.fb::before {background-image: url('../sprites/Section-Touch--footer-fb.png');}
.Section-Touch .footer ul>li a.tw::before {background-image: url('../sprites/Section-Touch--footer-tw.png');}
.Section-Touch .footer ul>li a.in::before {background-image: url('../sprites/Section-Touch--footer-in.png');}
.Section-Touch .footer ul>li a.sk::before {background-image: url('../sprites/Section-Touch--footer-sk.png');}


@media only screen and (min-width: 769px), screen and (min-height: 661px) {
    .Section-Learn::before {background-image: url('../images/Section-Learn.jpg');}
    .Section-Norisk {}
    .Section-Norisk  .section {background-image: url('../images/Section-Norisk.jpg');}
    .Section-Clarify .section {background-image: url('../images/Section-Clarify.jpg');}
    .Section-Trust  {}
    .Section-Logic   .section {background-image: url('../images/Section-Logic.jpg');}
    .Section-Apps   {}
    .Section-Storia  .section {background-image: url('../images/Section-Storia.jpg');}
    .Section-Storia  .section::before {width: 618px; height: 475px; background-image: url('../images/Section-Storia--screens.png');}
    .Section-Team    .section ul>li:first-child {margin: 0 -25px 0 0;}
    .Section-Touch  {background-image: url('../images/Section-Touch.jpg');}
}
@media only screen and (max-width: 768px), screen and (max-height: 661px) {
    #fp-nav {display: none;}
    h2 {padding: 5px 0; font-size: 26px;}
    h3 {font-size: 16px;}
    h4 {padding: 15px 0 0; font-size: 20px;}
    .fui-button {min-width: 135px; height: 40px; line-height: 40px; font-size: 14px;}
    .fui-description {padding: 15px 0; line-height: 20px; font-size: 16px;}
    .fui-table .table-cell {padding: 80px 32px 60px;}

    .module-Header--logo {margin: 10px 0 0 13px;}
    .module-Header--logo::before {width: 100px; height: 13px;}
    .module-Header {padding: 18px 0 0; min-height: 40px;}
    .module-Header .fui-button {margin: 0 13px 0 0;}

    .page-Section .scale,
    .page-Section.active .scale,
    .page-Section .section {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}

    .Section-Trust .section ul {padding: 0 0 0 32px; white-space: nowrap; max-width: 100px;}
    .Section-Trust .section ul>li.brand-grey::before    {width: 121px; height: 70px; margin: 0 0 0 -10px;}
    .Section-Trust .section ul>li.brand-wwf::before     {width: 70px;  height: 70px;}
    .Section-Trust .section ul>li.brand-zendesk::before {width: 187px; height: 70px; margin: 0 0 0 -3px;}
    .Section-Trust .section ul>li.brand-storia::before  {width: 70px;  height: 70px; margin: 0 -40px 0 -5px;}
    .Section-Trust .section ul>li.brand-grey::before    {width: 60px;  height: 35px;}
    .Section-Trust .section ul>li.brand-wwf::before     {width: 35px;  height: 35px;}
    .Section-Trust .section ul>li.brand-zendesk::before {width: 93px;  height: 35px;}
    .Section-Trust .section ul>li.brand-storia::before  {width: 35px;  height: 35px;}
    .Section-Trust .section .overflow {margin: 0 -32px 0; overflow: hidden; height: 75px;}
    .Section-Trust .section .overflow {height: 35px;}
    .Section-Trust .section .overflow-cell {padding: 0 0 20px; margin: 0 0 -20px; overflow-x: scroll; -webkit-overflow-scrolling: touch;}

    .Section-Learn {background-image: url('../images/Section-Learn--small.jpg');}
    .Section-Learn--content h1 {line-height: 34px; font-size: 28px;}
    .Section-Learn--content .description {padding: 5px 0 15px; font-size: 18px;}
    .Section-Learn--content .fui-button {padding-right: 25px;}
    .Section-Learn--content .fui-button::before {top: 18px; right: 23px; width: 5px; -webkit-animation: 1s linear infinite jumping-small; animation: 1s linear infinite jumping-small;}
    .Section-Learn--content .fui-button::after  {top: 18px; right: 20px; width: 5px; -webkit-animation: 1s linear infinite jumping-small; animation: 1s linear infinite jumping-small;}
    .Section-Learn--footer {bottom: 20px;}
    .Section-Learn--footer .footer {padding: 0 0 10px; font-size: 10px;}
    .Section-Learn--footer::after {display: block; margin: 0 auto; width: 200px; height: 25px;}

    .Section-Norisk .section {background-image: url('../images/Section-Norisk--small.jpg');}
    .Section-Norisk .section ul {padding: 0 0 20px 40%; white-space: nowrap; max-width: 100px; font-size: 14px; box-sizing: border-box;}
    .Section-Norisk .section ul>li {margin: 0 10px;}
    .Section-Norisk .section .fui-description {padding: 0;}
    .Section-Norisk .section .overflow {margin: 0 -32px 0; overflow: hidden;}
    .Section-Norisk .section .overflow-cell {padding: 0 0 20px; margin: 0 0 -20px; overflow-x: scroll; -webkit-overflow-scrolling: touch;}

    .Section-Clarify .section {background-image: url('../images/Section-Clarify--small.jpg'); background-position-y: 120%;}
    .Section-Clarify .fui-table .table-cell {padding-bottom: 20px; vertical-align: bottom;}
    .Section-Clarify .section .fui-description {  padding: 5px 0;}

    .Section-Logic .section {background-image: url('../images/Section-Logic--small.jpg');}
    .Section-Logic .section ul {padding: 10px 0 0 32px; max-width: 100px; white-space: nowrap;}
    .Section-Logic .section ul>li {float: none; width: 125%; line-height: 20px; font-size: 16px; white-space: normal;}
    .Section-Logic .section ul>li::before {width: 30px; height: 30px;}
    .Section-Logic .section .overflow {margin: 0 -32px 0; overflow: hidden;}
    .Section-Logic .section .overflow-cell {padding: 0 0 20px; margin: 0 0 -20px; overflow-x: scroll; -webkit-overflow-scrolling: touch;}

    .Section-Apps  .section .icons::before {margin: 0 -10px 10px; width: 227px; height: 80px;}
    .Section-Apps  .section .fui-description {padding: 15px 0 0;}

    .Section-Storia .section {padding: 0 0 180px; background-image: url('../images/Section-Storia--small.jpg');}
    .Section-Storia .section::before {display: none; bottom: -5px; left: 0; margin: 0 auto -5px; width: 280px; height: 140px; background: url('../images/Section-Storia--screens--small.png') center/100%; background-position-y: 0;}
    .Section-Storia .section .fui-description {padding-top: 5px; max-width: none;}
    .Section-Storia .section .cell .fui-button {font-size: 16px;}

    .Section-Team h2 {margin: 15px 0 0;}
    .Section-Team .section ul {padding: 10px 0 0;}
    .Section-Team .section ul>li {margin: 0 10px 0 0;}
    .Section-Team .section ul>li:first-child {margin: 0 5px 0 0;}
    .Section-Team .section ul>li:first-child img {width: 64px; height: 64px;}
    .Section-Team .section ul>li img {width: 34px; height: 34px;}
    .Section-Team .section .fui-description {padding: 0;}
    .Section-Team .section .link {padding: 15px 0 0;}
    .Section-Team .section .link::before {width: 15px; height: 15px;}

    .Section-World .map-container .border-tl,
    .Section-World .map-container .border-br {display: none;}
    .Section-World .section {background: top center no-repeat; background-size: cover; background-image: url('../images/Section-World--London.jpg');}
    .Section-World .section .container {padding: 20px 30px;}
    .Section-World .section .fui-table .table-cell {padding: 0;}
    .Section-World .section .fui-description {padding: 5px 0;}
    .Section-World .section ul {padding: 20px 0 0; white-space: nowrap; max-width: 100px;}
    .Section-World .section ul>li {padding: 0 25px 0 0;}
    .Section-World .section ul>li a {padding: 0 0 8px 0; font-size: 14px;}
    .Section-World .section ul>li a b {font-size: 14px;}
    .Section-World .section ul>li:first-child a {margin-left: -145px;}
    .Section-World .section ul>li:first-child a.active {margin-left: 0;}

    .Section-Touch  {background-image: url('../images/Section-Touch.jpg');}
    .Section-Touch>.module-Header,
    .Section-Touch .module-Header--aside {display: block;}
    .Section-Touch .container {min-height: 390px; text-align: center;}
    .Section-Touch .fui-table .table-cell {padding: 10px 13px;}
    .Section-Touch .form {margin: 50px 0 0; width: auto;}
    .Section-Touch .form ul {padding: 5px 0 15px;}
    .Section-Touch .form ul>li a {font-size: 14px;}
    .Section-Touch .form form {width: 285px;}
    .Section-Touch .form form .input    {margin: 0 0 15px; padding: 0 10px; width: 100%; height: 36px; font-size: 14px;}
    .Section-Touch .form form .textarea {margin: 0 0 15px; padding: 0 10px; width: 100%; height: 36px; font-size: 14px; line-height: 32px;}
    .Section-Touch .form form .submit {float: right;}
    .Section-Touch .form form .description {line-height: 40px; font-size: 14px;}
    .Section-Touch .form form .description .attachment {margin: 0 0 0 5px;}
    .Section-Touch .address {display: none;}
    .Section-Touch .footer {position: relative; padding: 10px 0 35px; border: none; text-align: center;}
    .Section-Touch .footer .text {font-size: 12px;}
    .Section-Touch .footer .module-Header--logo {display: none;}
    .Section-Touch .footer ul {float: none; margin: 0; position: absolute; left: 0; right: 0; bottom: 0;}
    .Section-Touch .footer ul>li {padding: 0 7px 0 0;}
    .Section-Touch .footer ul>li a::before {width: 25px; height: 25px;}
}
