.Section-Learn::before {background-image: url('../images/Section-Learn.jpg'); background-size: cover;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Learn.jpg', sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Learn.jpg', sizingMethod='scale')";
}
.Section-Norisk {}
.Section-Norisk  .section {background-image: url('../images/Section-Norisk.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Norisk.jpg', sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Norisk.jpg', sizingMethod='scale')";
}
.Section-Clarify .section {background-image: url('../images/Section-Clarify.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Clarify.jpg', sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Clarify.jpg', sizingMethod='scale')";
}
.Section-Trust  {}
.Section-Logic   .section {background-image: url('../images/Section-Logic.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Logic.jpg', sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Logic.jpg', sizingMethod='scale')";
}
.Section-Apps   {}
.Section-Storia  .section {background-image: url('../images/Section-Storia.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Storia.jpg', sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Storia.jpg', sizingMethod='scale')";
}
.Section-Storia  .section::before {width: 618px; height: 475px; background-image: url('../images/Section-Storia--screens.png');}
.Section-Team    .section ul>li:first-child {margin: 0 -25px 0 0;}
.Section-World  {}
.Section-Touch  {background-image: url('../images/Section-Touch.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Touch.jpg', sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Section-Touch.jpg', sizingMethod='scale')";
}

.fui-button {-ms-behavior: url('styles/PIE.htc'); position: relative; z-index: 0;}
#fp-nav ul>li a {-ms-behavior: url('styles/PIE.htc'); position: relative; z-index: 0;}